@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #2f5c6b;
    color: #fff;
}
header{
    display: flex;
    gap: 12px
    ;
}
header .me{
    margin-top: 32.5px;
    font-size: 10px;
}
.logo {
    font-size: 40px;
    font-weight: 600;
    
    color: rgb(222, 104, 30);

}

h1 {
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 700;
}

form {
    background: #537f8e95;
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 0 30px;
}

form button {
    padding: 0 40px;
    height: 100%;
    background-color: rgb(222, 104, 30);;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

::placeholder {
    color: #fff;
    font-size: 18px;
}

#show-more-btn {
    color: #fff;
    background-color: rgb(222, 104, 30);
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px auto 100px;
    display: none;
}

#search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}